<nav class="navbar navbar-inverse" style="border-radius:0px">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li ng-class="{active: $state.includes('task1')}"><a ui-sref="task1">Excercise 1 <span class="sr-only">(current)</span></a></li>
      <li ng-class="{active: $state.includes('task2')}"><a ui-sref="task2">Excercise 2</a></li> 
      <li ng-class="{active: $state.includes('task3')}"><a ui-sref="task3">Excercise 3</a></li> 
    </ul>
  </div>
</nav>
<div style="position:relative"ui-view></div>

