
<div class="row">
    <div class="col-sm-6" >
      <h3 class="util">Code Window</h3>
      <div ui-ace="{
          useWrapMode : true,
          showGutter: true,
          theme:'textmate',
          mode: 'python',
          firstLineNumber: 1,
          onLoad: aceLoaded,
          onChange: aceChanged
        }">
    </div>

    <button type="button" ng-click="runit()">Run Code</button> <!--run interactive code-->
    <button type="button" ng-click="debugit()">Debug Code</button> <!--debug program-->
    <button type="button" ng-click="mark()">Submit for Grading</button> <!--submit for automatic marking-->
    </div>

    <div class="col-sm-0.5" ></div>

    <div class="col-sm-3" >
      <h3>Code Output</h3>
      <pre id="output"></pre>
    </div>

</div>
<br>
<h3 id="debHd" visibility="hidden">Debugger</h3>
<div id= "frameHere"></div>


<style type="text/css" media="screen">
    body {
        overflow: scroll;
    }

    #output{
        border-style: groove;
        border-color: #000000;
        height: 300px;
    }

    .ace_editor {
        height: 300px;
        border-style: solid;
        border-color: #000000;
    }



</style>
