
<div ng-controller="TasksCtrl" class="row">
	<div class="col-sm-12">
        <h1>Question 1</h1>
</div>
</div>
<div class ="row col-sm-12">
	<pre style="white-space:pre-wrap">
Write a program that asks the user how many Fibonacci numbers to generate and then generates them.
Make sure to ask the user to enter the number of numbers in the sequence (using raw_input) to generate.
(Hint: The Fibonacci sequence is a sequence of numbers where the next number in the sequence is the sum of the previous two numbers in the sequence. The sequence looks like this: 1, 1, 2, 3, 5, 8, 13, …).
 The result should be output using 'print' and the numbers should be seperated with a ',' i.e. 1,1,2,3,5

</pre>
</div>

<div class="row">
	<div class="col-sm-12">
		<div ng-controller="pythonInterpreterCtrl">
			<div ng-include="" src="'views/python/interpreter.html'"></div>
		</div>
	</div>
</div>