<div class="row">
	<div class="col-sm-12">
	<h1>Question 1</h1>
	<pre>
Write a program that takes a list of strings and prints them, one per line, in a rectangular frame of asterisks.
The width of the rectangular frame includes a space on either side of the longest word and the asterisk border.
For example the sentence "Hello World in a frame" gets printed as:

*********
* Hello *
* World *
* in    *
* a     *
* frame *
*********

The program is expected to take using input using 'input()' and to 'print' the output.

</pre>
	</div>
</div>


<div class="row">
	<div class="col-sm-12">
		<div ng-controller="pythonInterpreterCtrl">
			<div ng-include="" src="'views/python/interpreter.html'"></div>
		</div>
	</div>
</div>
