<div class="row">
	<div class="col-sm-12">
        <h1>Question 3</h1>
				<pre style="white-space:pre-wra">
Create a program that asks the user for a number (using raw_input) and then prints out a list of all the divisors of that number. 
(If you don’t know what a divisor is, it is a number that divides evenly into another number. For example, 13 is a divisor of 26 because 26 / 13 has no remainder.)
Each number of the result should be printed on a newline i.e The result when the user inputs 4 would be :
1
2
4


			</pre>
	</div>
</div>


<div class="row">
	<div class="col-sm-12">
		<div ng-controller="pythonInterpreterCtrl">
			<div ng-include="" src="'views/python/interpreter.html'"></div>
		</div>
	</div>
</div>