<div class="row">
	<div class="col-sm-12">
        <h1>Question</h1>
	<pre>
Write a function that takes an input string that describes a calculation (eg: “1 + 3 - 1 =”) and calculate the answer to the calculation.
If the string does not end with an “=”, it is considered to be invalid. 
Strings will only contain + and - so you do not need to account for arithmetic precedence. 
</pre>
	</div>
</div>


<div class="row">
	<div class="col-sm-12">
		<div ng-controller="pythonInterpreterCtrl">
			<div ng-include="" src="'views/python/interpreter.html'"></div>
		</div>
	</div>
</div>