<div class="row">
	<div class="col-sm-12">
        <h1>Question</h1>
	<pre>
Only South African citizens who have registered in their municipality and are over the age of 18  may vote in the local elections.
A special round of voting runs before the main election for elderly citizens (75 years or older) and people with disabilities.
Write a program that takes a list indicating an individual’s age, whether they are registered and whether they are disabled and outputs whether they can vote and which round of votes they will vote in (regular or general). 

Note that output should take the form “can vote” or “cannot vote” and “special election” or “regular election”

Input format: [ age, registered, disability ]
For Example
[18, 0, 0] = 18 years old, not registered, not disabled 	-> cannot vote

[75, 1, 0] = 75 years old, registered, not disabled 		-> can vote
special election

[60, 1, 1] = 65 years old, registered, has disability 		-> can vote
special election

[35, 1, 0] = 35 years old, registered, not disabled 		-> can vote 
regular election
	</div>
</div>


<div class="row">
	<div class="col-sm-12">
		<div ng-controller="pythonInterpreterCtrl">
			<div ng-include="" src="'views/python/interpreter.html'"></div>
		</div>
	</div>
</div>