<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">

       <div class="text-center">
        <h2 class="brand">PyTuT <small>Introduction to searching and sorting in python</small></h2>
        <img src="images/flat-avatar.png" class="user-avatar" /><br />
        <a ui-sref="login" class="btn btn-white btn-outline btn-rounded btn-sm">Logout</a>
      </div>

      <ul class="nav nav-sidebar">
        <li ng-class="{active: $state.includes('overview')}"><a ui-sref="overview">Searching and Sorting<span class="sr-only">(current)</span></a></li>
        <ul>
          <li><a style="color:white" ui-sref="introduction">Introduction</a></li>
          <li><a style="color:white" ui-sref="selectionSort">Selection Sort</a></li>
          <li><a style="color:white" ui-sref="mergeSort">Merge Sort</a></li>
          <li><a style="color:white" ui-sref="linearSearch">Linear Search</a></li>
          <li><a style="color:white" ui-sref="binarySearch">Binary Search</a></li>

        </ul>
        <li ng-class="{active: $state.includes('reports')}"><a ui-sref="reports">Reports</a></li>
      </ul>

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
    </div>
  </div>
</div>
</div>