<!--
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
-->
<div class="login-page">
	<div class="row">
		<div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
        	<img src="images/flat-avatar.png" class="user-avatar" />
			<h1>PyTuT <small>Online Python Tutor</small></h1>
			<form name="loginForm" role="form" ng-submit="submit(email,password)">
				<div class="form-content">
					<div class="form-group">
						<input name="email" type="text" class="form-control input-underline input-lg" id="" ng-model="email" placeholder="Email" required>
					</div>
					<div class="form-group">
						<input  name="password" type="password" class="form-control input-underline input-lg" ng-model="password" id="" placeholder="Password" required>
					</div>
				</div>
				<button ng-hide="isLoading" type="submit" class="btn btn-white btn-outline btn-lg btn-rounded" ng-disabled="loginForm.email.$invalid || loginForm.password.$invalid ">Login</button>
				<label style="color:white">{{data.message}}<label>
				<i ng-show="isLoading" class="fa fa-cog fa-spin" style="font-size:70px; color:white"></i>
			</form>

		</div>	
	</div>
</div>